<script src="~/areas/workflow/js/requests/DistributedRegression/ConductAnalysis.js"></script>
<!-- ko stopBinding:true -->
<section id="DRConductAnalysis" style="margin-top:15px;display:none;" data-bind="fadeVisible:true">
    <article class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Conduct Analysis</h4>
        </div>
        <div class="jumbotron">
            <p>
                Placeholder for Future UI for when the Mockups are complete.
            </p>
        </div>

    </article>
    <br class="clearfix" />
</section>
<!-- /ko -->