
@{
    ViewBag.Title = "Search Organizations";
    Layout = "~/Views/_Layout.cshtml";
}
<script src="~/Areas/CNDS/js/Search/Organizations.js"></script>
<script src="@this.ResourceUrl("/scripts/kendo/2016.2.523/jszip.min.js")"></script>
<script src="@this.ResourceUrl("/scripts/jquery-resizable/jquery-resizable.js")"></script>
<style>
    p {
        margin: 0 0 0;
    }

    .panel-container {
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

    #selectionSection {
        flex: 0 0 auto; /* only manually resize */
        padding: 10px;
        width: 300px;
        min-height: 700px;
        min-width: 10%;
        width: 33%;
        white-space: nowrap;
        float: left;
    }

    .splitter {
        flex: 0 0 auto;
        width: 5px;
        background: lightgrey;
        border-width: 0;
        float: left;
        height: 680px;
        cursor: col-resize;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #resultsSection {
        flex: 1 1 auto; /* resizable */
        padding: 10px;
        width: 50%;
        min-width: 10%;
        min-height: 700px;
        float: left;
    }

    .panel-container-vertical {
        display: flex;
        flex-direction: column;
        height: 700px;
        overflow: hidden;
    }

    #selectedPanel {
        flex: 0 0 auto; /* only manually resize */
        min-height: 70px;
        height: 275px;
        width: 100%;
        white-space: nowrap;
        overflow: scroll;
    }

    .splitter-horizontal {
        flex: 0 0 auto;
        height: 5px;
        background: lightgrey;
        cursor: row-resize;
        margin-bottom: 20px;
    }

    #selectionPanel {
        flex: 1 1 auto; /* resizable */
        min-height: 10px !important; /* NOTE: This won't be respected! Explicit resize forces size of this panel */
        height: 325px;
        overflow: scroll;
    }
</style>
<article class="panel panel-default" data-bind="css: {visible: true}">

    <div class="panel-heading">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li>CNDS</li>
            <li class="active">Search Organizations</li>
        </ol>
    </div>
    <div class="panel-body">
        <div class="container-fluid panel-container">
            <section id="selectionSection">
                <div class="panel-container-vertical">

                    <div id="selectedPanel" class="panel panel-default">
                        <div class="panel-heading">Search Summary</div>
                        <div class="panel-body">
                            <div id="selectedDomainTree">
                                <ul style="padding-left:20px;">
                                    <!--ko foreach: Domains-->
                                    <!--ko if: $data.CheckedValue()-->
                                    <li data-bind="template:{ name:'selectedTree', data: $data }"></li>
                                    <!--/ko-->
                                    <!--/ko-->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="splitter-horizontal"></div>
                    <div id="selectionPanel" class="panel panel-default">
                        <div class="panel-heading">
                            <div style="float:left;margin-top:3%;">Search Criteria</div>
                            <button type="button" data-bind="click: ClearSearch" class="btn btn-primary pull-right">Clear Search</button>
                            <br style="clear:both" />
                        </div>
                        <div class="panel-body">
                            <div id="domainTree">
                                <ul style="padding-left:20px;">
                                    <!--ko foreach: Domains-->
                                    <li style="list-style:none;" data-bind="template:{ name:'CheckBox-tree', data: $data }"></li>
                                    <!--/ko-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <div class="splitter"></div>
            <section id="resultsSection" style="max-height:700px; height:700px;">
                <div class="panel panel-default" style="height:100%;">
                    <div class="panel-heading">
                        <div style="float: left; height: 20px; margin-top: 5px;">Organization(s) Found</div>
                        <br style="clear:both;" />
                    </div>
                    <div class="panel-body">
                        <div id="gOrganizationsGrid" data-bind="kendoGrid: {
                                                                toolbar: ['excel', 'pdf'],
                                                                excel: {
                                                                    fileName: 'Organization-Export.xlsx'
                                                                },
                                                                pdf: {
                                                                    fileName: 'Organization-Export.pdf'
                                                                },
                                                                data: dsResults,
                                                                excelExport: FormatExcelExport,
                                                                scrollable: true,
                                                                filterable: true,
                                                                resizable: true,
                                                                sortable: true,
                                                                height: '600px',
                                                                columns: [
                                                                    {field: 'Network', title: 'Network'},
                                                                    {field: 'Name', title: 'Organization'},
                                                                    {field: 'ContactInformation', title: 'Contact Information', encoded: false}
                                                                ]
                                                            }"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</article>

<script type="text/html" id="CheckBox-tree">
    <div>
        <i style="margin-left:-20px; margin-bottom:5px; vertical-align:top" class="k-icon k-plus" data-bind="click:$root.OpenChildDetail.bind($data, ID),attr: {ID: 'img-' + ID}, visible: $data.ChildMetadata().length > 0 || $data.References().length > 0"></i>
        <label>
            <input type="checkbox" data-bind="checked: CheckedValue" />
            <span style="font-weight:normal;" data-bind="text:$data.Title"></span>
        </label>
    </div>
    <!--ko if: $data.ChildMetadata != undefined && $data.ChildMetadata().length > 0-->
    <ul style="padding-left:20px;" data-bind="attr: {ID: 'children-' + ID}, visible:false">
        <!--ko foreach: $data.ChildMetadata-->
        <li style="list-style:none;" data-bind="template:{ name:'CheckBox-tree', data: $data }"></li>
        <!--/ko-->
    </ul>
    <!--/ko-->
    <!--ko if: $data.References != undefined && $data.References().length > 0-->
    <ul style="padding-left:20px;" data-bind="attr: {ID: 'children-' + ID}, visible:false">
        <!--ko foreach: $data.References-->
        <li style="list-style:none;" data-bind="template:{ name:'Ref-tree', data: $data }"></li>
        <!--/ko-->
    </ul>
    <!--/ko-->
</script>

<script>
    $("#selectionSection").resizable({
        handleSelector: ".splitter",
        resizeWidth: true,
        resizeHeight: false,
    });
    $("#selectedPanel").resizable({
        handleSelector: ".splitter-horizontal",
        resizeWidth: false,
        resizeHeight: true,
    });
</script>


<script type="text/html" id="Ref-tree">
    <div>
        <label>
            <input type="checkbox" data-bind="checked: CheckedValue" />
            <span style="font-weight:normal;" data-bind="text:$data.Title"></span>
        </label>
    </div>
</script>

<script type="text/html" id="selectedTree">

    <span style="font-weight:normal;" data-bind="text:$data.Title"></span>
    <!--ko if: $data.ChildMetadata != undefined && $data.ChildMetadata().length > 0-->
    <ul style="padding-left:20px;">
        <!--ko foreach: $data.ChildMetadata-->
        <!--ko if: $data.CheckedValue()-->
        <li data-bind="template:{ name:'selectedTree', data: $data }"></li>
        <!--/ko-->
        <!--/ko-->
    </ul>
    <!--/ko-->
    <!--ko if: $data.References != undefined && $data.References().length > 0-->
    <ul style="padding-left:20px;">
        <!--ko foreach: $data.References-->
        <!--ko if: $data.CheckedValue()-->
        <li data-bind="template:{ name:'selectedTree', data: $data }"></li>
        <!--/ko-->
        <!--/ko-->
    </ul>
    <!--/ko-->
</script>