
@{
    ViewBag.Title = "Select RequestType";
    Layout = "~/Views/_DialogLayout.cshtml";
}

@section Head{
    <style>
        .SelectedRequestType {
            border:2px solid #337ab7;
            margin-bottom:0px;
        }
        #confirmYes,
        #confirmNo {
            width:120px;
        }
        .list-group-item {
            padding:3px 1px;
        }

        .loadingbox {
            opacity:0;
            transition: opacity 0.5s ease-in;
        }
    </style>    
    }

@section Scripts{
    <script src="/areas/cnds/js/search/selectrequesttype.js"></script>
   <script>
       CNDS.Search.SelectRequestType.init();
    </script>
}

<div id="LoadingBox">
    <p id="txtLoadingMessage" class="alert alert-info" style="text-align:center;">Searching for Request Types the selected Data Sources support...</p>
</div>

<article data-bind="css: {visible: true}">
    <div class="list-group" style="max-height:585px;overflow:auto;">
        <!-- ko foreach:{data: AvailableNetworkRequestTypes, as: 'requestType'} -->
        <div class="list-group-item" data-bind="css:requestType.CssClass, attr:{ 'title': requestType.AnchorTitle }">
            <button data-bind="text:requestType.DisplayName, enable:requestType.HasValidRoutes, click:$root.onSelectRequestType" class="btn btn-default" style="width:100%;"></button>
            <table class="table table-condensed" data-bind="visible:requestType.HasValidRoutes" style="display:none;">
                <thead>
                    <tr>
                        <th colspan="4">Supported Selected DataMarts</th>
                    </tr>
                    <tr>
                        <th>Network</th>
                        <th>Project</th>
                        <th>Data Source</th>
                        <th>Request Type</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ko foreach:requestType.LocalRoutes -->
                    <tr>
                        <td data-bind="text:Network"></td>
                        <td data-bind="text:Project"></td>
                        <td data-bind="text:DataMart"></td>
                        <td data-bind="text:RequestType"></td>
                    </tr>
                    <!-- /ko -->
                    <!-- ko foreach:requestType.ExternalRoutes -->
                    <tr>
                        <td data-bind="text:Network"></td>
                        <td data-bind="text:Project"></td>
                        <td data-bind="text:DataMart"></td>
                        <td data-bind="text:RequestType"></td>
                    </tr>
                    <!-- /ko -->
                </tbody>
            </table>
            <table class="table table-condensed" data-bind="visible:requestType.InvalidRoutes().length > 0" style="display:none;">
                <thead>
                    <tr>
                        <th colspan="2">Not Supported Selected DataMarts</th>
                    </tr>
                    <tr>
                        <th>Network</th>
                        <th>Data Source</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:requestType.InvalidRoutes">
                    <tr>
                        <td data-bind="text:Network"></td>
                        <td data-bind="text:DataMart"></td>
                    </tr>
                </tbody>
            </table>
            <p style="text-align:center;display:none;" data-bind="visible:requestType.HasValidRoutes == false">* No Supported Data Sources *</p>
        </div>
        <!-- /ko -->
    </div>
    <nav class="footer">
        <button class="btn btn-warning pull-right" style="margin-left:10px;width:125px;" data-bind="click:onCancel"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i> Cancel</button>
    </nav>
</article>

