<?xml version="1.0"?>
<connectionStrings>
  <!-- CNDS Connection string used by DataContext, must stay named DataContext -->
    <add name="DataContext" connectionString="Server=localhost;Database=CNDS_trunk;Integrated Security=True;MultipleActiveresultSets=True; Asynchronous Processing=true;Max Pool Size=700" providerName="System.Data.SqlClient" />
  <!-- PMN connection string -->
  <add name="PMN" connectionString="Server=localhost;Database=DNS3_trunk;Integrated Security=True;MultipleActiveresultSets=True; Asynchronous Processing=true;Max Pool Size=700" providerName="System.Data.SqlClient" />
</connectionStrings>